body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.main-block {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color:  #1d1f21;
}

.controls {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.start {
    display: block;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 15em;
    height: 3em;
    background: linear-gradient(180deg, rgb(255, 168, 36) 0%, rgb(255, 115, 0) 100%);
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    border: none;
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.audioClass{
    /* margin-bottom: 40px; */
}

.divRes{
    position: relative;
    display: block;
    top: 20px;
    bottom: 20px;
}

.btnYes, .btnNo{
    /* display: inline-block; */
    width: 5em;
    height: 3em;
    background: linear-gradient(180deg, rgb(255, 168, 36) 0%, rgb(255, 115, 0) 100%);
    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.05);
    margin: 5px;
    margin-bottom: 20px;
    border: none;
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}
.btnYes{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.btnNo{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.pWinApp, .pWinUser{
    text-align: center;
    font-family: 'Alata', sans-serif;
    font-size: 25px;
    font-weight: bold;
}
.pres{
    margin: 0;
    font-family: 'Alata', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}
.listening {
    display: none;
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.divTextSearch{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    top: 40px;
}

.entersong{
    display: inline;
    color: white;
    font-size: 3rem;
    text-align: center;
}

#songForm{
    position: relative;
    display: none;
    margin: 0;
}

#song{
    width: 150px;
    height: 2rem;
    background-color: rgb(54, 101, 221);
    color: white;
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
    border: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    cursor: pointer;
    padding: 2px;
    padding-left: 15px;
}
#textSong{
    width: 70px;
    height: 2.25rem;
    letter-spacing: 1px;
    background-color: rgb(54, 101, 221);
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    cursor: pointer;
    color: white;
    font-family: 'Alata', sans-serif;
    text-transform: uppercase;
}
/* .loading{
    display: none;
    font-family: 'Alata', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: black;
} */

#results{
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.divFound{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.divNotFound{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h2res{
    display: none;
    margin: 0;
    padding: 0;
    padding-top: 20px;
    text-transform: uppercase;
    text-align: center;
    color: black;
    font-size: 2.25rem;
    font-family: 'Alata', sans-serif;
}

.resultImg{
    display: block;
    margin: auto;
    margin-top: 6em;
    width: 250px;
    height: 250px;
    border-radius: 20px;
}
.notFoundImg{
    display: block;
    margin: auto;
    margin-top: 6em;
}
.notFoundText{
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    text-align: center;
}
.resultText{
    position: relative;
    top:10px;
    font-family: 'Alata', sans-serif;
    font-size: 20px;
    text-align: center;
}

/* LOADER */
.loading {
    display: none;
    margin-top: 50px;
    margin-bottom: 100px;
    bottom: 0px;
    left: 0;
    /* overflow: hidden; */
    right: 0;
    top: 0;
}

.loader-inner {
    bottom: 0;
    height: 60px;
    left: 0;
    margin: auto;
    position: relative;
    right: 0;
    top: 0;
    width: 100px;
}

.loader-line-wrap {
    animation: 
		spin 2000ms cubic-bezier(.175, .885, .32, 1.275) infinite
	;
    box-sizing: border-box;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    transform-origin: 50% 100%;
    width: 100px;
}
.loader-line {
    border: 4px solid transparent;
    border-radius: 100%;
    box-sizing: border-box;
    height: 100px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
}
.loader-line-wrap:nth-child(1) { animation-delay: -50ms; }
.loader-line-wrap:nth-child(2) { animation-delay: -100ms; }
.loader-line-wrap:nth-child(3) { animation-delay: -150ms; }
.loader-line-wrap:nth-child(4) { animation-delay: -200ms; }
.loader-line-wrap:nth-child(5) { animation-delay: -250ms; }

.loader-line-wrap:nth-child(1) .loader-line {
    border-color: hsl(0, 80%, 60%);
    height: 90px;
    width: 90px;
    top: 7px;
}
.loader-line-wrap:nth-child(2) .loader-line {
    border-color: hsl(60, 80%, 60%);
    height: 76px;
    width: 76px;
    top: 14px;
}
.loader-line-wrap:nth-child(3) .loader-line {
    border-color: hsl(120, 80%, 60%);
    height: 62px;
    width: 62px;
    top: 21px;
}
.loader-line-wrap:nth-child(4) .loader-line {
    border-color: hsl(180, 80%, 60%);
    height: 48px;
    width: 48px;
    top: 28px;
}
.loader-line-wrap:nth-child(5) .loader-line {
    border-color: hsl(240, 80%, 60%);
    height: 34px;
    width: 34px;
    top: 35px;
}

@keyframes spin {
    0%, 15% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}